<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app='crudApp'>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>User Registration Page</title>

{% load staticfiles %}

<link   type="text/css" href="{% static "registerweb/css/jquery-ui-1.8.9.custom.css" %}" rel="Stylesheet" />	
<script type="text/javascript" src="{% static "registerweb/js/angular.js" %}"></script>
<script type="text/javascript" src="{% static "registerweb/js/jquery-1.4.4.min.js" %}"></script>


<style>
  .title_underline {
    border-bottom: 2px solid black;
  }
  
  .error {
    color: red;
  }
  
  #main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: left;
    width: 500px;
  }
 
</style>

 
<script>



var app = angular.module('crudApp',[]);

app.controller('CrudController', function($scope,$http) {
	
	init();
	
	function init() {
		
	  $scope.mode = '{{mode}}';

	  var user = {};
	  user.id = '{{user.id}}';
	  user.loginId = '{{user.login_id}}';
	  user.firstName = '{{user.first_name}}';
	  user.lastName = '{{user.last_name}}';
	  user.password = '{{user.password}}';
	  user.retypepassword = '{{user.password}}';
	  user.email = '{{user.email}}';
	
      $scope.user = user;
	};
	
	
	$scope.submit = function() {

	  $scope.registerForm.submitClicked = true;
	  
	  //clear errors
	  $scope.errorRetype = null;
	  $scope.errorLoginId = null;
	  $scope.errorEmail = null;
	   
	  // verify that the passwords match
	  if($scope.user.password && $scope.user.retype) { 
		  if($scope.user.password != $scope.user.retype) {
		    $scope.errorRetype = 'Passwords do not match.';
		    return;
		  }  
	  }
	  
	  if($scope.registerForm.$invalid) {
		  alert('You have errors.');
		  return;
	  } 
	  
	  var postData = { login_id   : $scope.user.loginId,
			           first_name : $scope.user.firstName,
			           last_name  : $scope.user.lastName,
			           password   : $scope.user.password,
			           email      : $scope.user.email };
	  
	  var config =  { headers : {'Accept':'application/json',
		                         'Content-Type':'application/x-www-form-urlencoded'}};
		  
	  if($scope.mode == 'add') {
	    add(postData,config);
	  } else if($scope.mode == 'edit') {
		update(postData,config);
	  }  
	        
	}; // submit function
	  	
	
	function add(postData,config) {
			   
	  $http.post('/demo/api/v1/users', jQuery.param(postData),config)
		
	    .success(function(data,header,status,config) 
	    {
		  alert('User has been added.');
		  $scope.user.id = data.id;
		  $scope.mode = 'edit';	 
		  $scope.submitClicked = false;
		})
		.error(function(data,header,status,config) 
		{
		  alert('An error has occurred.');
		  handleErrors(data);
		});
	}; // add function
	
	
	function update(postData,config) {
		   
	  $http.put('/demo/api/v1/users/' + $scope.user.id, jQuery.param(postData),config)
		
	    .success(function(data,header,status,config) 
		{
		  alert('User has been saved.');
		  $scope.id = data.id;
		  $scope.submitClicked = false;
		})
		.error(function(data,header,status,config) 
		{
		  alert('An error has occurred.');
		  handleErrors(data);	     
		});
	}; // update function
	
	
	function handleErrors(data) {
		
	  if(data.status == 'fielderrors') {
	    for(var field in data.errors) {
	      if(field == 'loginId' && data.errors[field] == 'duplicate') {
	      	$scope.errorLoginId = 'Login Id already in use.'; 
	      }
	      if(field == 'email' && data.errors[field] == 'duplicate') {
	    	$scope.errorEmail = 'Email already in use.'; 
	      }
	    }
	  }
	};
		
}); //controller



</script>

</head>


<body ng-controller='CrudController'>

{% verbatim %}

 <div id="main">
  
	  <div id="header">
	    <h1 class="title_underline">User Registration</h1>
	  </div>
	 
	 <form name="registerForm" novalidate ng-submit="submit();">
	 
	  <table>
	      
	      <!-- Login Id -->
	      <tr>
	         <td style="text-align:right">Login Id:</td>
	         <td><input name="loginId" 
	                    type="text" 
	                    ng-model="user.loginId" 
	                    required/></td>
	      </tr>
	      <tr ng-show="registerForm.submitClicked && registerForm.loginId.$error.required">
		    <td></td><td class="error">Field is required.</td>
		  </tr>
		  <tr ng-show="registerForm.submitClicked && errorLoginId">
		    <td></td><td class="error">{{errorLoginId}}</td>
		  </tr>
		  
		  
		  <!--  First Name --> 	            
	      <tr>
	         <td style="text-align:right">First Name:</td>
	         <td><input name="firstName" 
	                    type="text" 
	                    ng-model="user.firstName" 
	                    required/></td>
	      </tr>
	      <tr ng-show="registerForm.submitClicked && registerForm.firstName.$error.required">
		    <td></td><td class="error">Field is required.</td>
		  </tr>


          <!-- Last Name -->	      
	      <tr>
	        <td style="text-align:right">Last Name:</td>
	        <td><input name="lastName" 
	                   type="text" 
	                   ng-model="user.lastName"
	                   required /></td>
	      </tr>
	      <tr ng-show="registerForm.submitClicked && registerForm.lastName.$error.required">
		    <td></td><td class="error">Field is required.</td>
		  </tr>
		
		
		  <!-- Password -->         
	      <tr>
	        <td style="text-align:right">Password:</td>
	        <td><input name="password" 
	                   type="password"
	                   ng-model="user.password"
	                   required /></td>
	      </tr>
	      <tr ng-show="registerForm.submitClicked && registerForm.password.$error.required">
		    <td></td><td class="error">Field is required.</td>
		  </tr>
		 
		  
		  <!-- Re-type password  -->
		  <tr>
	        <td style="text-align:right">Re-Type Password:</td>
	        <td><input name="retype" 
	                   type="password"
	                   ng-model="user.retype"
	                   required /></td>
	      </tr>
	      <tr ng-show="registerForm.submitClicked && registerForm.retype.$error.required">
		    <td></td><td class="error">Field is required.</td>
		  </tr>
		  <tr ng-show="registerForm.submitClicked && errorRetype">
		    <td></td><td class="error">{{errorRetype}}</td>
		  </tr>
		 
		 
		  <!--  Email  --> 
	      <tr>
	        <td style="text-align:right">Email:</td>
	        <td><input name="email" 
	                   type="email"
	                   ng-model="user.email"
	                   required /></td>
	      </tr>
	      <tr ng-show="registerForm.submitClicked && registerForm.email.$error.required">
		    <td></td><td class="error">Field is required.</td>
		  </tr>
		  <tr ng-show="registerForm.submitClicked && registerForm.email.$error.email">
		    <td></td><td class="error">Email is invalid.</td>
		  </tr>
		  <tr ng-show="registerForm.submitClicked && errorEmail">
		    <td></td><td class="error">{{errorEmail}}</td>
		  </tr>
		  
	    </table>
	    
	   <button>Submit</button>
	     
	</form>
	    
	    
 </div>

 
{% endverbatim %}    
 
 
</body>
</html>