<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app='crudApp'>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>User Registration Page</title>

{% load staticfiles %}

<script type="text/javascript" src="{% static "registerweb/js/angular.js" %}"></script>
<script type="text/javascript" src="{% static "registerweb/js/jquery-1.4.4.min.js" %}"></script>

<script type="text/javascript" src="{% static "registerweb/js/controllers.js" %}"></script>



<style>
  .title_underline {
    border-bottom: 2px solid black;
  }
  
  .error {
    color: red;
  }
  
  #main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: left;
    width: 500px;
  }
 
</style>

 
<script>

window.user = { id : '{{user.id}}',
                loginId : '{{user.login_id}}',
                firstName : '{{user.first_name}}',
                lastName : '{{user.last_name}}',
                password : '{{user.password}}',
                retypepassword : '{{user.password}}',
                email : '{{user.email}}'
              };
window.mode = '{{mode}}';

</script>

</head>


<body ng-controller='CrudController'>

{% verbatim %}

 <div id="main">
  
	  <div id="header">
	    <h1 class="title_underline">User Registration</h1>
	  </div>
	 
	 <form name="registerForm" novalidate ng-submit="submit();">
	 
	  <table>
	      
	      <!-- Login Id -->
	      <tr>
	         <td style="text-align:right">Login Id:</td>
	         <td><input name="loginId" 
	                    type="text" 
	                    ng-model="user.loginId" 
	                    required/></td>
	      </tr>
	      <tr ng-show="registerForm.submitClicked && registerForm.loginId.$error.required">
		    <td></td><td class="error">Field is required.</td>
		  </tr>
		  <tr ng-show="registerForm.submitClicked && errorLoginId">
		    <td></td><td class="error">{{errorLoginId}}</td>
		  </tr>
		  
		  
		  <!--  First Name --> 	            
	      <tr>
	         <td style="text-align:right">First Name:</td>
	         <td><input name="firstName" 
	                    type="text" 
	                    ng-model="user.firstName" 
	                    required/></td>
	      </tr>
	      <tr ng-show="registerForm.submitClicked && registerForm.firstName.$error.required">
		    <td></td><td class="error">Field is required.</td>
		  </tr>


          <!-- Last Name -->	      
	      <tr>
	        <td style="text-align:right">Last Name:</td>
	        <td><input name="lastName" 
	                   type="text" 
	                   ng-model="user.lastName"
	                   required /></td>
	      </tr>
	      <tr ng-show="registerForm.submitClicked && registerForm.lastName.$error.required">
		    <td></td><td class="error">Field is required.</td>
		  </tr>
		
		
		  <!-- Password -->         
	      <tr>
	        <td style="text-align:right">Password:</td>
	        <td><input name="password" 
	                   type="password"
	                   ng-model="user.password"
	                   required /></td>
	      </tr>
	      <tr ng-show="registerForm.submitClicked && registerForm.password.$error.required">
		    <td></td><td class="error">Field is required.</td>
		  </tr>
		 
		  
		  <!-- Re-type password  -->
		  <tr>
	        <td style="text-align:right">Re-Type Password:</td>
	        <td><input name="retype" 
	                   type="password"
	                   ng-model="user.retype"
	                   required /></td>
	      </tr>
	      <tr ng-show="registerForm.submitClicked && registerForm.retype.$error.required">
		    <td></td><td class="error">Field is required.</td>
		  </tr>
		  <tr ng-show="registerForm.submitClicked && errorRetype">
		    <td></td><td class="error">{{errorRetype}}</td>
		  </tr>
		 
		 
		  <!--  Email  --> 
	      <tr>
	        <td style="text-align:right">Email:</td>
	        <td><input name="email" 
	                   type="email"
	                   ng-model="user.email"
	                   required /></td>
	      </tr>
	      <tr ng-show="registerForm.submitClicked && registerForm.email.$error.required">
		    <td></td><td class="error">Field is required.</td>
		  </tr>
		  <tr ng-show="registerForm.submitClicked && registerForm.email.$error.email">
		    <td></td><td class="error">Email is invalid.</td>
		  </tr>
		  <tr ng-show="registerForm.submitClicked && errorEmail">
		    <td></td><td class="error">{{errorEmail}}</td>
		  </tr>
		  
	    </table>
	    
	   <button>Submit</button>
	     
	</form>
	    
	    
 </div>

 
{% endverbatim %}    
 
 
</body>
</html>